@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}
#top{    
    height: 54px;
    background-color: #4fb3d4;
    background-image: url('Assets/top.png');
    background-size: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Header Design */
#header{
    width: 100%;
    height: 50px;
    /* background-color: teal; */    
}
#header .header-container{
    width: 1180px;
    height: 100%;
    /* background-color: orange; */
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .header-container .logo{
    width: 200px;
    height: 37px;
}
#header .logo img{
    width: 100%;
    height: 100%;
}
#header nav{
    width: 730px;
    height: 50px;
}
#header nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
#header nav ul li{
    list-style-type: none;
}
#header nav ul li a{
text-decoration: none;
color: #274861;
}

#header nav ul li:nth-last-of-type(2){
    border:0.5px solid #577592;
    border-radius: 6px;
    color: #183b56;
    padding: 12px 24px;
    transition: 0.2s ease-out;
    font-weight: 700;
}
#header nav ul li:nth-last-of-type(1){
    border-radius: 6px;
    font-weight: 700;
    transition: 0.2s ease-out;
    padding: 12px 24px;    
    box-shadow: 0 0 2px #577592;
    text-align: center;
    background-color: #2294ed;
}
#header nav ul li:nth-last-of-type(1) a{
    color: white;
}

/* Hero Section */
#hero{
    width: 100%;
    height: 456px;
    /* background-color: purple; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#hero .hero-container{
    width: 1180px;
    height: 406px;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    gap: 50px;
    padding-inline:20px;
}
#hero .hero-container .left{
    width: 544px;
    height: 246px;
}
#hero .hero-container .right{
    width: 546px;
    height: 399px;
}
#hero .hero-container .right img{
    width: 100%;
    height: 100%;
}
#hero .left h1{
    font-size: 48px;
    margin-top: 20px;
    font-weight: 600;
}
#hero .left p{
    color: #577592;
    line-height: 1.7rem;
    font-size: 1.15rem;
    margin-bottom: 30px;
}
#hero .left a{
    background-color: #2294ed;
    border-radius: 6px;
    font-weight: 700;
    color: white;
    padding: 12px 24px;
    box-shadow: 0 0 2px #577592;
    transition: 0.2s ease-out;
    text-align: center;
    text-decoration: none;
}