*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.card{
    width: 250px;
    height: 300px;
    display: inline-block;
}
.card-1{
    background-color: tomato;
}
.card-2{
    background-color: teal;
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0;
}
.card-3{
    background-color: magenta;
}
